* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%
}

.prent-header-Cont {
    height: 120vh;
    background-image: linear-gradient(rgba(169, 169, 169, 0.75), rgba(128, 128, 128, 0.5), rgba(105, 105, 105, 0.5), rgba(0, 0, 0, 0.65)), url(../images/destination_Map1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.sub2-header-Cont{
    margin-top: 100px;
}

.sub3-header-Cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor-head-Config:hover {
    opacity: 0.75;
}

.sub1-main-Cont {
    height: 250px;
    background-color: rgba(255, 140, 0, 0.65);
}

.sub1-footer-Cont {
    height: 450px;
    background-color: hsl(206, 34%, 20%);
}

.sub2-footer-Cont {
    height: 65px;
    background-color: hsl(206, 34%, 16%);
}

.input-sub1-footer-Config {
    height: 50px;
    width: 300px;
}

.button-sub1-footer-Config {
    height: 50px;
    width: 300px;
}